.socialicons {
  color: #09688d;
  font-size: x-large;
  cursor: pointer;
}

.socialicon {
  border-radius: 20px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.socialicon:hover {
  background-color: rgb(245, 241, 241);
  color: #ffffff !important;
  transform: scale(1.09);
}

.socialcol {
  padding: 10px;
}
